.custom-progressbar {
    position: absolute;
    /* 또는 relative */
    overflow: hidden;
    background: #444;
}

.custom-progressbar .swiper-pagination-progressbar-fill {
    background: #ffffff;
    height: 100%;

    box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.8);

    transition: width 0.3s ease;
}